.error_image {
  margin-bottom: 60px;
  text-align: center;
    img {
      width: 30%;
      height: auto;
        @media screen and (max-width: 768px) {
          width: 80%;
        }
    }
}
.error_actions_title {
  padding-bottom: 60px;
  position: relative;
  font-size: 22px;
  line-height: 32px;
  color: #2d83b3;
  text-align: center;
    &:after {
      content: '';
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -83px;
      width: 166px;
      height: 1px;
      background: #e5e5e5;
    }
}
.error_actions_block {
  text-align: center;
  a {
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
      &:hover {
        color: #1e5e82;
      }
  }
}

.not_found_search {
  text-align: center;
    input {
      width: 100%;
      padding: 9px 10px;
      font-size: 17px;
      line-height: 22px;
      color: #343434;
      border: 1px solid #cecece;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      transition: 0.2s;
        &:focus {
          border-color: #004871;
        }
    }
    form {
      position: relative;
      display: none;
      max-width: 300px;
      margin: 10px auto 20px;
      text-align: left;
        button {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 45px;
          height: 100%;
          font-size: 17px;
          line-height: 33px;
          color: #777777;
          background: none;
          border: none;
          -webkit-transition: 0.15s;
          -moz-transition: 0.15s;
          transition: 0.15s;
          -webkit-border-radius: 0 5px 5px 0;
          -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
            &:hover {
              color: #fff;
              background: #004871;
            }
        }
    }
}
.error_actions_btn {
  padding-top: 20px;
  text-align: center;
}