@media screen and (max-width: 768px) {
  .header {
    .header_inner {
      padding-left: 10px;
    }
    .logo {
      height: 65px;
      margin-top: 0;
      img {
        width: auto;
        height: 100%;
      }
    }
    .header_phone {
      display: none;
      float: none;
      width: auto;
      background: none;
      span {
        display: none;
      }
      a {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        &:hover {
          color: #14e2a1;
          background: none;
        }
      }
    }
    .header_search {
      top: 19px;
      right: 81px;
    }
    .navbar-toggle {
      top: 30px;
      right: 15px;
      bottom: auto;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 1366px) {
  .header {
    .header_menu {
      position: static;
      float: left;
      width: auto;
      margin-right: 25px;
      padding: 0;
      ul {
        list-style-type: none;
        padding: 0;
        background: none;
        margin: 0;
      }
      li {
        float: left;
        a {
          display: inline-block;
          padding: 49px 20px 40px;
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          color: #004871;
          transition: 0.2s;
          &:hover {
            color: #fff;
            background: #1777ad;
          }
        }
      }
    }
    .navbar-toggle {
      display: none;
    }
    .navbar-collapse.collapse,
    .collapse.in {
      display: block !important;
      visibility: visible !important
    }
    .header_search_open {
      display: none;
    }
    .header_search_form {
      position: relative;
      width: 210px;
      visibility: visible;
      opacity: 1;
      margin-top: 87px;
    }
    .header_search {
      float: left;
      position: static;
        &.active {
          .header_search_form {
            display: block;
          }
        }
    }
  }
  .main_slider {
    min-height: 711px;
  }
  .main_slider_right {
    width: 257px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 100%;
  }
  .main_slider_right_item {
    float: none;
    margin-right: 0;
    height: 33.2%;
    margin-top: 1px;
    width: 100%;
  }
}