@media screen and (max-width: 992px) {
  .main_slider {
    min-height: 430px; }

  .main_slider .main_call_master_block {
    height: 167px; }

  .main_slider .main_call_master_field {
    max-width: 100%;
    padding: 15px 20px 15px 20px;
    margin-top: 45px;
    margin-left: 0; }

  .main_slider .main_call_master_block .bootstrap-select .btn.dropdown-toggle {
    font-size: 19px;
    line-height: 23px; }

  .main_slider .main_call_master_block label {
    font-size: 21px;
    line-height: 25px; }

  .main_slider .main_call_master_field .main_call_btn {
    font-size: 16px;
    line-height: 20px; }

  .main_about {
    padding: 45px 0; }

  .main_about_text {
    width: 100%;
    padding-top: 0;
    margin-left: 0;
    margin-bottom: 25px; }

  .main_about .main_slider_right_item {
    max-height: 100%; }

  .main_about {
    padding: 120px 0 45px; }

  .main_help_quote {
    padding: 130px 0 25px; }

  .main_help_quote:before {
    top: 30px; }

  .main_help_quote .quote_footer span {
    margin-top: 35px; }

  .main_help .main_help_container {
    padding-top: 50px;
    padding-bottom: 60px; }

  .main_help h2 {
    margin: 0 0 30px;
    font-size: 26px;
    line-height: 30px; }

  .main_help .help_form label {
    margin-right: 15px;
    font-size: 16px;
    line-height: 20px; }

  .main_help .main_form_next_btn a {
    margin-left: 50px; }

  .main_help .help_form input[type="submit"] {
    margin: 20px 0 0 170px; }

  .main_infographics .main_infographics_item.main_infographics_item_title h2 {
    padding: 13px 50px 10px 25px;
    font-size: 50px;
    line-height: 72px; }

  .main_infographics .main_infographics_item.main_infographics_item_title h2:before {
    content: none; }

  .contact_info {
    position: static; }

  .contact_form_wrap {
    position: static; }

  .contact_form .contact_form_title {
    margin-bottom: 20px; }

  .contact_form {
    padding: 10px 20px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

  .contact_form .form_field input[type="submit"] {
    padding: 12px 22px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 19px; }

  .footer {
    padding-top: 10px; }

  .footer_logo {
    float: none;
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    margin-top: 0;
    text-align: center; }
    .footer_logo img {
      width: 30%;
      height: auto; }

  .footer .footer_line {
    display: none; }

  .footer_nav_item {
    float: none;
    padding: 0;
    text-align: center; }

  .footer_nav_item .menu_title {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1d6994; }

  .footer_social_stars {
    float: none;
    margin: 0 auto 15px; }

  .footer_social_links {
    float: none;
    text-align: center;
    padding-bottom: 20px; } }
@media screen and (max-width: 768px) {
  .header .header_inner {
    padding-left: 10px; }
  .header .logo {
    height: 65px;
    margin-top: 0;
    background: url(../images/logo_circle.png) 50% 50% no-repeat/auto 100%;
    top: 0; }
    .header .logo img {
      width: 100px;
      height: auto;
      margin-top: 25px; }
  .header .header_phone {
    display: none;
    float: none;
    width: auto;
    background: none; }
    .header .header_phone span {
      display: none; }
    .header .header_phone a {
      font-size: 16px;
      line-height: 20px;
      padding: 0; }
      .header .header_phone a:hover {
        color: #14e2a1;
        background: none; }
  .header .header_search {
    top: 19px;
    right: 81px; }
  .header .navbar-toggle {
    top: 30px;
    right: 15px;
    bottom: auto;
    margin-right: 0; }

  body {
    padding-top: 65px; }

  .content_container {
    padding-top: 30px;
    padding-bottom: 35px; }

  h1.page_title span:before, .page_content .typorgraphy_title span:before {
    top: 18px;
    left: -33px;
    width: 25px; }

  .page_content h1, .page_content h1.title_large {
    font-size: 24px;
    line-height: 28px; }

  .page_content h2, .page_content h2.title_large {
    font-size: 22px;
    line-height: 26px; }

  .page_content h3, .page_content h3.title_large {
    font-size: 20px;
    line-height: 24px; }

  .page_content h4, .page_content h4.title_large {
    font-size: 18px;
    line-height: 22px; }

  .page_content h5, .page_content h5.title_large {
    font-size: 17px;
    line-height: 23px; }

  .page_content h6, .page_content h6.title_large {
    font-size: 16px;
    line-height: 20px; }

  .page_content p {
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 19px; }

  .page_content h1, .page_content h2, .page_content h3, .page_content h4, .page_content h5, .page_content h6 {
    padding: 10px 0 5px; }

  .page_content .typorgraphy_title {
    padding: 20px 0 20px; }

  .page_content .content_two_column, .page_content .content_three_column {
    column-count: 1;
    column-gap: 0; }

  .page_content blockquote p {
    font-size: 15px;
    line-height: 19px; }

  .page_content blockquote {
    padding-left: 10px;
    margin: 20px 0; }

  .page_content .alert {
    padding: 6px 10px;
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 19px; }

  .page_content ul li, .page_content ol li {
    padding-top: 5px;
    font-size: 15px;
    line-height: 19px; }

  .page_content ul li {
    padding-left: 22px; }

  .page_content ul li:before {
    top: 6px;
    width: 13px;
    height: 13px; }

  .page_content ol li {
    padding-left: 30px; }

  .page_content ol li:before {
    top: 3px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 22px; }

  .page_content .green_btn {
    padding: 10px 48px;
    font-size: 15px;
    line-height: 19px; }

  .page_content .blue_btn {
    padding: 10px 48px;
    font-size: 15px;
    line-height: 19px; }

  .page_content .blue_btn.blue_btn_large {
    padding: 11px 55px;
    font-size: 16px;
    line-height: 20px; }

  .main_slider {
    min-height: 100%; }

  .main_slider_right {
    position: static;
    max-height: 100%;
    height: auto; }

  .main_slider_right_item {
    float: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }

  .main_slider .main_call_master_block {
    transform: translateY(0px);
    text-align: center; }

  .main_slider .main_call_master_field {
    margin-top: 15px; }

  .main_slider .main_call_master_block label {
    display: block;
    margin-right: 0;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 20px; }

  .wpcf7-form-control-wrap.broken {
    display: block; }

  .main_slider .main_call_master_field .main_call_btn {
    padding: 9px 25px;
    margin-left: 22px;
    font-size: 13px;
    line-height: 17px;
    margin-top: 15px; }

  .main_slider .main_call_master_block .bootstrap-select .btn.dropdown-toggle {
    font-size: 16px;
    line-height: 20px; }

  .main_about {
    padding: 20px 0 20px; }

  .main_about_text h2 {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 26px; }

  .main_about_text p {
    font-size: 15px;
    line-height: 19px; }

  .main_about_img {
    max-width: 320px;
    margin: 0 auto;
    float: none; }

  .main_help_quote:before {
    top: 10px;
    margin-left: -20px;
    width: 40px;
    height: 42px;
    background: url(../images/quote_bg.png) 50% 50% no-repeat/contain; }

  .main_help_quote {
    padding: 60px 0 15px; }

  .main_help_quote p {
    font-size: 15px;
    line-height: 19px; }

  .main_help_quote .quote_footer span {
    margin-top: 15px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 18px; }

  .main_help_quote .quote_footer span:before {
    left: -28px;
    bottom: 5px;
    width: 20px; }

  .main_help .main_help_container {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center; }

  .main_help h2 {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 24px;
    text-align: center; }

  .main_help .help_form .main_form_field {
    float: none; }

  .main_help .help_form label {
    margin-right: 5px;
    font-size: 14px;
    line-height: 18px; }

  .main_help .help_form input {
    width: 180px;
    font-size: 18px;
    line-height: 22px; }

  .main_help .main_form_next_btn a {
    width: 38px;
    height: 38px;
    margin-left: 0;
    margin-top: 15px;
    font-size: 20px;
    line-height: 37px; }

  .main_help .help_form input[type="submit"] {
    padding: 10px 65px;
    margin-left: 0;
    font-size: 15px;
    line-height: 19px; }

  .main_infographics {
    padding: 20px 0; }

  .main_infographics .main_infographics_item {
    height: auto;
    padding: 10px 15px; }

  .main_infographics .main_infographics_item.main_infographics_item_title {
    height: auto; }

  .main_infographics .main_infographics_item.main_infographics_item_title h2 {
    padding: 13px 0 10px 0;
    font-size: 20px;
    line-height: 42px;
    text-align: center; }

  .main_infographics .main_infographics_item span {
    margin-top: 15px;
    font-size: 19px;
    line-height: 23px; }

  .faq_title a {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px; }
    .faq_title a:after {
      width: 15px;
      height: 7px;
      margin-top: 8px;
      background: url(../images/faq_arr_down.png) 50% 50% no-repeat/contain; }

  .faq_item.active .faq_title a:after {
    background: url(../images/faq_arr_up.png) 50% 50% no-repeat/contain; }

  .faq_content {
    padding: 0 20px 10px; }

  .about_info_block {
    margin-bottom: 30px; }

  .about_info_block .about_img {
    float: none;
    width: 100%; }
    .about_info_block .about_img img {
      width: 100%;
      height: auto; }

  .about_info_block .about_info {
    float: none;
    width: 100%;
    padding: 20px; }
    .about_info_block .about_info h2 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 24px; }

  .about_info_block:before {
    bottom: -18px;
    width: 80%;
    margin-left: -40%; }

  .about_text_block {
    font-size: 15px;
    line-height: 19px; }

  .contact_info {
    padding: 20px 0 0; }

  .contact_info_item {
    display: block;
    padding-right: 0;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 20px; }

  .contact_info_item span {
    font-size: 23px; }

  .contact_form .contact_form_title {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 21px;
    text-align: center; }

  .contact_form .form_field {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 10px; }

  .contact_form .form_field input, .contact_form .form_field textarea {
    font-size: 15px;
    line-height: 19px; }

  .contact_form .form_field input[type="submit"] {
    padding: 9px 22px; }

  #wpgmza_map {
    height: 280px !important; } }
@media screen and (min-width: 1366px) {
  .header .header_menu {
    position: static;
    float: right;
    width: auto;
    margin-right: 25px;
    padding: 0; }
    .header .header_menu ul {
      list-style-type: none;
      padding: 0;
      background: none;
      margin: 0; }
    .header .header_menu li {
      float: left; }
      .header .header_menu li a {
        display: inline-block;
        padding: 49px 20px 40px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: #004871;
        transition: 0.2s; }
        .header .header_menu li a:hover {
          color: #fff;
          background: #1777ad; }
  .header .navbar-toggle {
    display: none; }
  .header .navbar-collapse.collapse,
  .header .collapse.in {
    display: block !important;
    visibility: visible !important; }
  .header .header_search_open {
    display: none; }
  .header .header_search_form {
    position: relative;
    width: 210px;
    visibility: visible;
    opacity: 1;
    margin-top: 87px; }
  .header .header_search {
    float: right;
    position: static;
    margin-right: 30px; }
    .header .header_search.active .header_search_form {
      display: block; }

  .main_slider {
    min-height: 711px; }

  .main_slider_right {
    width: 257px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 100%; }

  .main_slider_right_item {
    float: none;
    margin-right: 0;
    height: 33.2%;
    margin-top: 1px;
    width: 100%; } }

/*# sourceMappingURL=media.css.map */
