.page-id-87 {
  background: url(../images/testimonials_bg.jpg) 50% 50% no-repeat/cover;
}
.testimonials_item {
  position: relative;
  padding-top: 40px;
    &:after {
      content: '';
      position: absolute;
      top: 60px;
      right: 35px;
      display: block;
      width: 43px;
      height: 30px;
      background: url(../images/testimonials_quotes.png) 50% 50% no-repeat;
    }
    .testimonials_item_inner {
      padding: 60px 30px 30px;
      background: rgba(120, 152, 154, 0.4);
      border: 1px solid rgba(122, 146, 148, 0.6);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }
    .testimonials_avatar {
      position: absolute;
      left: 40px;
      top: 0;
      width: 80px;
      height: 80px;
      background: #2f6583 url(../images/default-avatar.png) 50% 50% no-repeat;
      border: 1px solid #49687b;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    .testimonials_title {
      padding-bottom: 20px;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      font-weight: 400;
    }
    .testimonials_text {
      font-size: 14px;
      line-height: 20px;
      color: #b2c1ca;
      font-style: italic;
    }
}
.testimonials_form_block {
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.4);
}
.testimonials_form_wrap {
  position: static;
}
