$btn_bg: #ec821b;
$btn_bg_design: #004871;
$btn_small_bg: #269836;
$btn_small_bg_design: #1675aa;
$heading_color: #000;
$heading_color_design: #1675aa;
$content_color: #191919;
$content_color_design: #336d8d;

$heading_base_fsz: 40px;
$content_fsz: 18px;
$content_lh: 18+6px;
$content_weight: 400;
